@reference "./index.css"; /* ඔයාගේ ප්‍රධාන tailwind file එකේ path එක මෙතනට දෙන්න */
#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


/* in sinup page */

.signup-input {
  @apply w-full bg-white/5 border border-white/10 py-4 px-5 rounded-[20px] text-white outline-none focus:border-primary/50 focus:bg-white/[0.08] transition-all font-medium;
}


.signup-input {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 1rem 1.25rem;
  border-radius: 20px;
  color: white;
  outline: none;
  transition: all 0.3s ease;
}

.signup-input:focus {
  border-color: rgba(254, 176, 93, 0.5); /* primary color */
  background-color: rgba(255, 255, 255, 0.08);
}
/* ////////// */

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.hide-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.go3958317564 { /* react-hot-toast එකේ inner wrapper එක */
  display: flex !important;
  align-items: center !important;
}