@import "tailwindcss";

@theme {
  --color-primary: #FEB05D;
  --color-secondary: #5A7ACD;
  --color-dark-bg: #2B2A2A;
  --color-light-bg: #F5F2F2;
}

:root {
  background-color: var(--color-light-bg);
  transition: background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.dark {
  background-color: var(--color-dark-bg);
}