@import "tailwindcss";

@theme {
  --color-primary: #FEB05D;
  --color-secondary: #5A7ACD;
  --color-dark-bg: #2B2A2A;
  --color-light-bg: #F5F2F2;
}

/* ඉතාමත් වැදගත්: Dark Mode එක manual class එකක් විදිහට වැඩ කරන්න මේක ඕනේ */
@variant dark (&:where(.dark, .dark *));

* {
  transition: background-color 0.4s ease, color 0.3s ease, border-color 0.3s ease;
}

/* Default colors */
:root {
  background-color: var(--color-light-bg);
  color: #2b2a2a;
}

/* Dark Mode colors */
.dark {
  background-color: var(--color-dark-bg);
  color: #f5f2f2;
}

.organic-shape {
  clip-path: polygon(0% 0%, 100% 0%, 100% 88%, 70% 100%, 30% 95%, 0% 100%);
}