@import "tailwindcss";

@theme {
  --color-primary: #FEB05D;
  --color-secondary: #5A7ACD;
  --color-dark-bg: #2B2A2A;
  --color-light-bg: #F5F2F2;
}

/* ඉතාමත් වැදගත්: Dark Mode එක manual class එකක් විදිහට වැඩ කරන්න මේක ඕනේ */
@variant dark (&:where(.dark, .dark *));

* {
  transition: background-color 0.4s ease, color 0.3s ease, border-color 0.3s ease;
}

/* Default colors */
:root {
  background-color: var(--color-light-bg);
  color: #2b2a2a;
}

body {
  margin: 0;
  padding: 0;
}

/* Dark mode එකේදී මුළු screen එකම කළු වෙන්න මේක උදව් වෙයි */
.dark body {
  background-color: #050505; 
}
.organic-shape {
  clip-path: polygon(0% 0%, 100% 0%, 100% 88%, 70% 100%, 30% 95%, 0% 100%);
}
.active-dot div {
  background-color: var(--color-primary) !important;
  transform: scale(1.5);
  box-shadow: 0 0 15px var(--color-primary);
}

.sidebar-active {
  background-color: rgba(254, 176, 93, 0.15); /* Primary color low opacity */
}

.sidebar-active span {
  color: #FEB05D !important;
}

.sidebar-active svg {
  color: #FEB05D !important;
}