@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #0d0d0d; /* Default background එක light පාටට */
}

.dark :root {
  background-color: #f7e9e9; /* Dark mode එකේදී background එක dark පාටට */
}